.card {
    overflow: hidden;
}

.card-img-top {
    height: 175px;
    object-fit: cover;
    object-position: 50% top;
    transition: filter 0.2s;
}

.card-img-top:hover {
    filter: blur(2px);
}

.dropdown-menu {
    left: auto;
    min-width: 15rem;
    right: 0;
}