.card {
    overflow: hidden;
}

.card-img-top {
    height: 175px;
    object-fit: cover;
    object-position: 50% top;
    transition: filter 0.2s;
}

.card-img-top:hover {
    filter: blur(2px);
}

.dropdown-menu {
    left: auto;
    min-width: 15rem;
    position: absolute;
    right: 0;
}

@media (min-width: 576px) {

    .card-img-top-large {
        height: auto;
        max-height: 350px;
    }

}