<!DOCTYPE html>
<html>
    <head>
        <link href="https://s3.csh.rit.edu/csh-material-bootstrap/4.0.0/dist/csh-material-bootstrap.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
        <meta content="initial-scale=1, width=device-width" name="viewport">
        <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="static/script.js"></script>
        <title>CSH Game Night</title>
    </head>
    <body>
        <nav class="bg-primary navbar navbar-dark navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="/">Game Night</a>
                <button class="navbar-toggler navbar-toggler-right" data-target="#collapse" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" href="/submissions">Submissions</a>
                        </li>
                    </ul>
                    {% block search %}
                    {% endblock %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% for row in games|batch(4) %}
            <div class="row">
                {% for game in row %}
                <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                    <div class="card">
                        <a href="{{game.link}}">
                            <img alt="{{game.name}}" class="card-img-top" src="static/images/{{game.name}}.jpg" title="{{game.name}}">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="{{game.link}}">{{game.name}}</a></h4>
                            <p class="card-text">Players: {{game.min_players}} - {{game.max_players}}</p>
                        </div>
                        <div class="card-footer">
                            {% if game.owner %}
                            <p class="card-text">Owner: <a href="https://profiles.csh.rit.edu/profile/{{game.owner}}">{{game.owner}}</a></p>
                            {% else %}
                            <p class="card-text">Owner: CSH</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="jumbotron mt-3">
                {% block no_games %}
                {% endblock %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>