<!DOCTYPE html>
<html>
    <head>
        <link href="https://themeswitcher.csh.rit.edu/api/get" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <meta content="initial-scale=1, width=device-width" name="viewport">
        <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="/static/script.js"></script>
        <title>CSH Game Night</title>
    </head>
    <body>
        <nav class="bg-primary navbar navbar-dark navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="/">Game Night</a>
                <button class="navbar-toggler navbar-toggler-right" data-target="#collapse" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="navbar-nav">
                        <!--{% if gamemaster %} removed in order to allow anyone to add games -->
                        <li>
                            <a class="nav-link" href="/submit">Submit</a>
                        </li>
                        <!-- {% endif %} -->
                    </ul>
                    <form action="/" class="ml-auto">
                        <div class="input-group">
                            <input autofocus class="form-control" name="name" placeholder="Search" type="text" value="{{request.args['name']}}">
                            <div class="dropdown input-group-append">
                                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button"></button>
                                <div class="dropdown-menu form-inline px-2">
                                    <div class="form-group">
                                        <label class="mx-auto">Owner:</label>
                                        <select class="form-control mx-auto" name="owner">
                                            <option value="">Any</option>
                                            {% for owner in owners %}
                                            <option{% if request.args.get('owner', '') == owner %} selected{% endif %} value="{{owner}}">{{owner}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if players %}
                                    <div class="form-group">
                                        <label class="mx-auto"># of players:</label>
                                        <select class="form-control mx-auto" name="players">
                                            <option value="">Any</option>
                                            {% for i in range(players.min, players.max + 1) %}
                                            <option{% if request.args.get('players', '0') == i|string %} selected{% endif %} value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}
                                    <div class="btn-toolbar mt-2">
                                        <button class="btn btn-primary btn-sm mx-auto" type="submit">Search</button>
                                        <button class="btn btn-primary btn-sm mx-auto" formaction="/random" type="submit">Random</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
