{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 col-md-10 col-sm-10 mx-auto my-3">
        <div class="card">
            <a href="{{game.link}}">
                <img alt="{{game.name}}" class="card-img-top card-img-top-large" src="https://s3.amazonaws.com/{{bucket}}/{{game.name}}.jpg" title="{{game.name}}">
            </a>
            <div class="card-body">
                <h1 class="card-title">
                    <a href="{{game.link}}">{{game.name}}</a> House Rules
                </h1>
                <hr>
                {{rules.markdown|markdown}}
            </div>
            <div class="card-footer">
                <ul class="card-text list-inline navbar-user">
                    <li class="list-inline-item">Contributors: </li>
                    {% for contributor in rules.contributors %}
                    <li class="list-inline-item">
                        <a href="https://profiles.csh.rit.edu/user/{{contributor}}">
                            <img alt="{{contributor}}" src="https://profiles.csh.rit.edu/image/{{contributor}}" title="{{contributor}}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}