{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 col-md-10 col-sm-10 mx-auto my-3">
        <form class="card" enctype="multipart/form-data" method="POST">
            <div class="card-body">
                {% if error %}
                <div class="alert alert-danger">
                    <strong>Error: </strong>{{error}}
                </div>
                {% endif %}
                <div class="form-group row">
                    <label class="col-form-label col-md-2 col-sm-12">Image: </label>
                    <div class="col-md-10 col-sm-12">
                        <input accept="image/jpeg" class="form-control" name="image" required type="file">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-5 col-sm-12">BoardGameGeek Link: </label>
                    <div class="col-md-7 col-sm-12">
                        <input class="form-control" name="link" pattern="https://boardgamegeek.com/.*" required value="{{form.link.data}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2 col-sm-12">Name: </label>
                    <div class="col-md-10 col-sm-12">
                        <input class="form-control" name="name" required value="{{form.name.data}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2 col-sm-12">Owner: </label>
                    <div class="col-md-10 col-sm-12">
                        {% if gamemaster %}
                        <input class="form-control" name="owner" required type="text" value="{{form.owner.data}}">
                        {% else %}
                        <select class="form-control" name="owner" required>
                            <option {% if form.owner.data == session['userinfo']['preferred_username'] %}selected {% endif %}value="{{session['userinfo']['preferred_username']}}">{{session['userinfo']['preferred_username']}}</option>
                            <option {% if form.owner.data == 'CSH' %}selected {% endif %}value="CSH">CSH</option>
                        </select>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-6 col-sm-12">Players (Min/Max): </label>
                    <div class="col-md-3 col-sm-6">
                        <input class="form-control" min="1" name="min_players" required type="number" value="{{form.min_players.data}}">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <input class="form-control" min="1" name="max_players" required type="number" value="{{form.max_players.data}}">
                    </div>
                </div>
                <input class="form-control" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}