{% extends 'base.html' %}

{% block content %}
{% block header %}
{% endblock %}
{% for row in games|batch(4) %}
<div class="row">
    {% for game in row %}
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
        <div class="card">
            <a href="/game/{{game.name}}">
                <img alt="{{game.name}}" class="card-img-top" src="{{image_url}}/{{game.name}}.jpg" title="{{game.name}}">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/game/{{game.name}}">{{game.name}}</a>
                    {% if game.new %}
                    <span class="badge badge-success">New</span>
                    {% endif %}
                </h4>
                {% if game.max_players == game.min_players %}
                <p class="card-text">Players: {{game.max_players}}</p>
                {% else %}
                <p class="card-text">Players: {{game.min_players}} - {{game.max_players}}</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <p class="card-text">
                    {% if game.owner == 'CSH' %}
                    Owner: <strong>CSH</strong>
                    {% else %}
                    Owner: <a href="https://profiles.csh.rit.edu/user/{{game.owner}}">{{game.owner}}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="jumbotron mt-3">
    <h4>No stuff found.</h4>
</div>
{% endfor %}
{% endblock %}
